h1, h2, h3, h4, h5, h6 {
	color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

a {
	color: #3289A8;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.test {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#buttons {
	padding-left: 500px;
}

#welcome {
	padding-left: 210px;
}
#main {
	position: absolute;
	left: 250px;
}

#install {
	position: absolute;
	left: 300px;
}

#templates {
	position: absolute;
	left: 424px;
}

#files {
	position: absolute;
	left: 506px;
}

#blocks {
	position: absolute;
	left: 639px;
}

#programming {
	position: absolute;
	left: 840px;
}

#run {
	position: absolute;
	left: 842px;
}